@import "./reset.css";

.container {
    max-width: 1160px;
    margin: 0 auto;

}

.header {
    background-color: #5E5D58;

}

.logo {
    position: relative;
}

.logo-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    position: absolute;
    top: 38px;
    left: 67px;
    color: #FFFFFF;
}

.logo-color {
    color: #18CFAB;
    font-weight: 700;

}

.nav {
    display: flex;
    justify-content: space-evenly;
    background: rgba(94, 93, 88, 0.6);


}

.nav-list {
    display: flex;
    gap: 21px;
    height: 120px;
    align-items: center;
}

.nav-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    height: 30px;
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.nav-link::after {
    content: "";
    position: absolute;
    top: 68px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.nav-link:hover::after {
    background-color: #18CFAB;
}


.icon {
    fill: rgba(255, 255, 255, 0.6);
    width: 21px;
    height: 18px;
}


.icon:hover {
    fill: #18CFAB;
}

.icon-polygon {
    margin-top: 26px;
    width: 58px;
    height: 67px;
    position: absolute;

}


.nav-link:hover {

    color: #18CFAB
}


.parallax-top {
    background-image: url("../img/background.png");
    height: 1012px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF;
}

.title-color {
    color: #18CFAB;
}


.hero-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 78px;
    margin-top: 22px;
    color: #FFFFFF;
}

.title-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 244px;
}

.title-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 39px;
    margin-top: 22px;
    color: #FFFFFF;
    opacity: 60%;
}

.purchare-link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

.started-link-title {
    margin: 129px 26px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-decoration: none;
    background: #18CFAB;
    color: #FFFFFF;
    border-radius: 5px;
    border-top: 5px solid white;
    width: 169px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-link {
    background: #00CBF6;
}


.brand-wrap {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    text-align: center;
}

.brand-wrap-div {
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 482px;
    height: 377px;
    background-color: #4d9f0c;
}

.brand-wrap-div h3 {
    margin: 0 auto;
}

.color-wrap1 {
    background: #1C2A33;

}

.color-wrap2 {
    background: #18CFAB;

}

.icon-brand {
    margin-top: 85px;
    width: 61px;
    height: 100px;
}

.icon-brand-diamont {
    margin-top: 96px;
    width: 93px;
    height: 75px;
}

.icon-brand-lamp {
    margin-top: 85px;
    width: 60px;
    height: 96px;
}

.icon-brand-monitor {
    margin-top: 95px;
    width: 99px;
    height: 76px;
}

.brand-title-color-one {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #18CFAB;
    padding-top: 48px;
}

.brand-title-color-two {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 58px;
}


.service {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title-services {
    text-align: center;
    margin-bottom: 100px;
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;

}

.line::after {
    content: "";
    position: absolute;
    width: 75.54px;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    top: 66px;
    background: #18CFAB;
}

.line::before {
    content: "";
    position: absolute;
    width: 75.54px;
    height: 1px;
    left: 51%;
    transform: translateX(-50%);
    top: 70px;
    background: #18CFAB;
}


.menu-service {
    display: flex;
}

.menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8FCFE;
    color: #717171;
    width: 194px;
    height: 76px;
    cursor: pointer;
    border: 1px solid #EDEFEF;
}

.menu-list:hover {
    border: 1px solid #18CFAB;
}

.tabs-content {
    margin: 0 auto;
    margin-top: 25px;
    max-width: 1160px;
    display: flex;
    gap: 15px;
}

.menu-list.active {
    background: #18CFAB;
    color: #FFFFFF;
}


.tabs-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
}


.img-list {
    width: 192px;
    height: 139px;
}



.Get-Started-Now {
    height: 476px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../img/background-get-started.png");
}

.title-started {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
}

.started-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 67px;
    color: #D8D8D8;
}

.started-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    background: #18CFAB;
    color: #FFFFFF;
    border-radius: 5px;
    border-top: 5px solid white;
    padding: 16px 11px 16px 11px;
}


.amazing-work {
    background-color: #E9EDEF;
    padding-top: 95px;
    margin-bottom: 82px;

}


.title-amazing {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    padding-bottom: 97px;
    text-align: center;
    position: relative;
    color: #4E4E4E;
}

.menu-amazing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 589px;

}

.amazing-list {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    color: #717171;
    padding: 0;
    cursor: pointer;
    height: 58px;
    align-items: center;
    border: 1px solid #DADADA;
    margin-bottom: 71px;

}

.amazing-list.active {
    color: #00cc99;
    border-color: #00cc99;
}


.amazing-list:active {
    border: 1px solid #18CFAB;
    color: #18CFAB;
}


.trust-gallery-list {
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.trust-gallery-item, .trust-gallery-image {
    height: 211px;
    width: 285px;
}

.test-image {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 211px;
    width: 285px;
    box-sizing: border-box;
    border-top: 6px solid #18CFAB;
}

.icon-gallery {
    width: 88px;
    height: 43px;
    margin-bottom: 24px;
}

.gallery-link {
    height: 211px;
    width: 285px;
}

.trust-gallery-item:hover .trust-gallery-image {
    display: none;
}

.trust-gallery-item:hover .test-image {
    display: flex;

}


.hoverable {
    flex-wrap: wrap;

}

.test-test {
    max-width: 20px;
}

.box-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14.1771px;
    line-height: 25px;
    color: #18CFAB;
}

.box-discription {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    color: #8A8A8A;
}


#load-more-btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    display: flex;
    font-size: 14px;
    line-height: 42px;
    margin: 0 auto;
    margin-top: 77px;
    margin-bottom: 100px;
    border-radius: 5px;
    padding: 13px 20px 8px 56px;
    background-color: #18CFAB;
    border: none;
    color: #FFFFFF;
    position: relative;
    cursor: pointer;

}

#load-more-btn::before {
    content: "+";
    font-size: 30px;
    position: absolute;
    left: 23px;
}

#new-images {
    display: flex;
    flex-wrap: wrap;

}

.breaking-news {
    margin-bottom: 128px;
}


.news-list {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.news-title-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 17.9885px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 15px;
    color: #717171;
}

.news-link {
    text-decoration: none;

}

.news-item {
    position: relative;

}

.date-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 58px;
    height: 37px;
    background-color: #203E38;;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 6px 15px 6px;
    text-align: center;
    color: #FFFFFF;
}

.news-item:hover .date-box {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.news-item:hover .news-title-item {
    color: #18CFAB;
}

.news-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    color: #777777;
    margin-left: 10px;
}

.theham {
    height: 853px;
    display: flex;
    flex-direction: column;
    background-image: url("../img/background-people.png");
}

.icon-theham {
    width: 44px;
    height: 30px;
    display: flex;
    padding-top: 100px;
    margin: 0 auto;
}

.title-theham {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin-top: 98px;
    text-align: center;
    position: relative;
    color: #FFFFFF;
}

.theham-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    padding-top: 36px;
    display: flex;
    text-align: center;
    position: relative;
    color: #BBBBBB;
}


.slider-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.slider-img {
    margin-top: 38px;
    width: 143px;
    height: 142px;
    border-radius: 50%;
    border: solid 10px rgba(31, 218, 181, 0.2);

}

.slider-img-list {
    width: 61px;
    height: 61px;
    border-radius: 50%;
    border: solid 4px rgba(31, 218, 181, 0.2);
    cursor: pointer;

}

.slider-service {
    display: flex;
    margin-top: 57px;
    align-items: center;
    justify-content: center;
}

.slider-menu-list {
    padding-left: 15px;
    padding-right: 15px;
}

.slider-menu-list.active {
    transform: translateY(-20px);
}

.slider-description {
    font-family: 'Montserrat';
    font-style: normal;
    height: 100px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    margin-top: 36px;
    color: #BBBBBB
}

.slider-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
}

.slider-job {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    margin-top: 7px;
    color: #BBBBBB;
}

.slider-back {
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;
    margin-right: 19px;
    cursor: pointer;

}

.slider-next {
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;
    margin-left: 19px;
    cursor: pointer;

}

.slider-arrow {
    width: 10px;
    height: 15px;
    position: relative;
    left: 10px;
    top: 8px;
    fill: #BBBBBB;
}

.slider-next:hover, .slider-back:hover {
    background-color: #18CFAB;
}

.slider-next:hover, .slider-arrow {
    fill: white;
}